In [ ]:
import sqlite3

def crear_bd():
    conexion = sqlite3.connect("conalep.db")
    cursor = conexion.cursor()
    cursor.execute("""
        CREATE TABLE IF NOT EXISTS alumnos (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            nombre TEXT NOT NULL,
            apellido TEXT NOT NULL,
            edad INTEGER,
            carrera TEXT,
            grupo TEXT
        )
    """)
    conexion.commit()
    conexion.close()
    print("Base de datos y tabla creadas correctamente.")


def insertar_dato(nombre, apellido, edad, carrera, grupo):
    conexion = sqlite3.connect("conalep.db")
    cursor = conexion.cursor()
    cursor.execute("INSERT INTO alumnos (nombre, apellido, edad, carrera, grupo) VALUES (?, ?, ?, ?, ?)",
                   (nombre, apellido, edad, carrera, grupo))
    conexion.commit()
    conexion.close()
    print(f"Alumno {nombre} {apellido} agregado correctamente.")


def mostrar_datos():
    conexion = sqlite3.connect("conalep.db")
    cursor = conexion.cursor()
    cursor.execute("SELECT * FROM alumnos")
    registros = cursor.fetchall()
    conexion.close()

    print("\nLista de alumnos registrados:")
    print("ID | Nombre | Apellido | Edad | Carrera | Grupo")
    print("-" * 50)
    for r in registros:
        print(f"{r[0]} | {r[1]} | {r[2]} | {r[3]} | {r[4]} | {r[5]}")
    print()


def menu():
    while True:
        print("\n----- MENÚ CONALEP -----")
        print("1. Crear base de datos")
        print("2. Insertar alumno")
        print("3. Mostrar alumnos")
        print("4. Salir")
        opcion = input("Elige una opción: ")

        if opcion == "1":
            crear_bd()
        elif opcion == "2":
            nombre = input("Nombre: ")
            apellido = input("Apellido: ")
            edad = int(input("Edad: "))
            carrera = input("Carrera: ")
            grupo = input("Grupo: ")
            insertar_dato(nombre, apellido, edad, carrera, grupo)
        elif opcion == "3":
            mostrar_datos()
        elif opcion == "4":
            print("Saliendo del programa...")
            break
        else:
            print("Opción no válida. Intenta otra vez.")


if __name__ == "__main__":
    menu()

----- MENÚ CONALEP -----
1. Crear base de datos
2. Insertar alumno
3. Mostrar alumnos
4. Salir